[package]
name = "cellar-migration"
version = "1.2.2"
edition = "2021"
authors = [ "Arnaud Lefebvre <arnaud.lefebvre@clever-cloud.com>" ]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-trait = "0.1.51"
rusoto_core = "0.47.0"
rusoto_s3 = "0.47.0"
rusoto_credential = "0.47.0"
tokio = { version = "1", features = ["full"] }
hyper = { version = "0.14.15", features = ["client", "stream"] }
hyper-tls = { version = "0.5.0", features = ["vendored"] }
base64 = "0.13.0"
urlencoding = "2.1.0"
ring = "0.16.20"
chrono = "0.4.19"
serde-xml-rs = "0.5.1"
serde = "1.0.130"
serde_derive = "1.0.130"
anyhow = "1.0.51"
futures = "0.3"
bytes = "1.1.0"
tracing = "0.1.29"
tracing-subscriber = { version = "0.3.7", features = ["env-filter"] }
env_logger = "0.9.0"
clap = { version = "3.0", features = ["cargo", "suggestions"] }
num_cpus = "1.13"
bytesize = "1.1"